*.txt
*.zip
*/.idea
*/.vscode
*/bin
*/out

out/production/Projeto_POOII/controller/ClientController.class
out/production/Projeto_POOII/controller/ClientHandler.class
out/production/Projeto_POOII/controller/ServerController.class
out/production/Projeto_POOII/Models/Candidate.class
out/production/Projeto_POOII/Models/User.class
out/production/Projeto_POOII/Service/ClientService.class
out/production/Projeto_POOII/Service/ServerService.class
out/production/Projeto_POOII/Utils/BarChart.class
out/production/Projeto_POOII/Utils/DialogBox.class
out/production/Projeto_POOII/Utils/DialogBox$1.class
out/production/Projeto_POOII/Utils/GetIP.class
out/production/Projeto_POOII/Utils/HelpAboutMenuBar.class
out/production/Projeto_POOII/Utils/HelpAboutMenuBar$1.class
out/production/Projeto_POOII/Utils/HelpAboutMenuBar$2.class
Projeto_POOII.iml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/libraries/jcommon_1_0_23.xml
